@import "../../app.scss";

.portfolio {
  position: relative;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 20px;
    text-align: center;
    color: $coffee;
    background: linear-gradient(
      180deg,
      rgb(17, 17, 50, 1),
      rgb(66, 86, 100, 0.5)
    );

    font-size: 36px;

    @include laptop {
      display: none;
      // padding-top: calc(100vh - 40px);
      // font-size: 24px;
      // background: linear-gradient(
      //   180deg,
      //   rgb(17, 17, 50, 0.3),
      //   rgb(66, 86, 100, 0.5)
      // );
      // background: $bluegrey;
    }

    .progressBar {
      height: 10px;
      background-color: $text;
    }
  }

  .container {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    // height: calc(100vh - 20vh);
    overflow: hidden;

    .wrapper {
      max-width: 80%;

      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      @include laptop {
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
      }

      .imageContainer {
        flex: 1;
        height: 50%;

        @include laptop {
          width: 100%;
          // max-height: 500px;
        }

        img {
          width: 100%;
          height: 100%;
          margin: 20px 0;
          object-fit: cover;

          @include laptop {
            object-fit: contain;
          }
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 100px;
        // gap: 20px;

        @include laptop {
          transform: none !important;
          padding: 20px;
          align-items: center;
          text-align: center;
          justify-content: initial;
        }

        h2 {
          font-size: 72px;
          margin: 20px 0;

          @include laptop {
            font-size: 36px;
            margin: 0;
          }
        }

        p {
          color: $text;
          font-size: 20px;

          @include laptop {
            font-size: 16px;
          }
          @include mobile {
            font-size: 12px;
          }
        }

        button {
          background-color: $coffee;
          border: none;
          border-radius: 10px;
          padding: 10px;
          width: 200px;
          cursor: pointer;
        }
      }
    }
  }
}
