$purple: #a259ff;
$blue: #377df7;
$red: #ff7262;
$bg-primary: #2b2b2b;
$bg-secondary: #3b3b3b;
$text: #ffffff;
$caption: #858584;

$coffee: #c6ad8f;
$bluegrey: #425664;
$text: #f6f4f2;
$dark-blue: #111132;
