@import "../../app.scss";

nav {
  height: 100px;
  // @include laptop {
  //   height: 50px;
  // }

  .wrapper {
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include laptop {
      justify-content: flex-end;
      padding: 20px;
    }

    span {
      font-weight: bold;

      @include laptop {
        display: none;
      }
    }

    .socials {
      display: flex;
      gap: 20px;

      img {
        height: 18px;
        width: 18px;
      }
    }
  }
}
