@import "./utils/scss/variables.scss";

* {
  top: 0;
  left: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: $bluegrey;
  color: $text;
}

a {
  text-decoration: none;
  color: inherit;
  transition: transform 0.5s ease;

  &:hover {
    transform: scale3d(0.95);
    // background-color: $bluegrey;
  }
}

section {
  height: 100vh;
  scroll-snap-align: center;
}
